@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.button {
  font-size: 14px !important;
  font-weight: 400;
  font-family: "Poppins",sans-serif !important;
  text-align: center;
  line-height: 1rem!important;
  text-transform: unset!important;
  box-shadow: unset !important;
  max-height: 33px;
}

.icon {
  height: 22px;
  color: white;
  margin-right: 8px;
  margin-left: 6px;
}
