/*////////////////////////////////////////*/
/*//////////ITEM CARD STYLES//////////////*/
/*////////////////////////////////////////*/

.container {
  padding-bottom: 5px;
  cursor: pointer;
}

.textName{
  font-size: 13px !important;
  font-family: 'POPPINS' !important;
  text-align: end;
  font-weight: 800 !important;
  color: #011c1a !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.priceText{
  font-size: 12px !important;
  font-family: 'POPPINS' !important;
  text-align: end;
  font-weight: 600 !important;
  color: #ff7a00 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.stockText{
  font-size: 12px !important;
  font-family: 'POPPINS' !important;
  text-align: end;
  font-weight: 600 !important;
  color: #3f817c !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.divider{
    border: 1px solid #74a19e !important;
    margin: 2px 2px 2px auto !important;
    width: 55%;
}

/*////////////////////////////////////////*/
/*//////////ITEM LINE STYLES//////////////*/
/*////////////////////////////////////////*/

.lineContainer{
  background: #eaf4f457;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  border: 4px solid #eaf4f4;
  box-shadow: none !important;
  overflow-x: scroll !important;
  white-space: nowrap !important;
  /* justify-content: space-between !important; */

}

.lineContainer:hover{
  background: #c8e3e3;
  box-shadow: none !important;
}

.lineContainerDisabled{
  background: #eaf4f457;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  border: 4px solid #eaf4f4;
  box-shadow: none !important;
  opacity: 0.5;
}

.lineContainerDisabled:hover{
  cursor: not-allowed;
}

.productName{
    font-family: 'Poppins' !important;
    color: #0d4d47;
    font-size: 18px !important;
    font-weight: 700 !important;
    width: 100px !important;
    margin-right: 25px !important;
}

.productBarcode{
  font-family: 'Poppins' !important;
  color: #0d4d47;
  font-size: 15px !important;
  font-weight: 700 !important;
  margin-right: 25px !important;
  width: 130px !important;
}

.productPrice{
  font-family: 'Poppins' !important;
  color: #ff7a00;
  font-size: 15px !important;
  margin-right: 25px !important;
  width: 100px !important;
}

.productStock{
  font-family: 'Poppins' !important;
  color: #0d4d47;
  font-size: 15px !important;
  margin-right: auto !important;
  width: 50px !important;

}