
.title{
    font: bold 2em 'Poppins';
    color: rgb(0, 0, 0);
    margin: 0;
    line-height: 3;
}

.subTitle{
    font: 800 1.5em 'Poppins' !important;
    color: #ff7a00;
    margin: 0;
    line-height: 3;
    margin-right: 20px;
}
.serialNumber{
    font: 600 1em 'Poppins' !important;
    color: rgb(0, 0, 0);
    margin: 0;
    line-height: 3;
    margin-right: 20px;
}

.stateGrid{
    display: contents;
    margin-top: 20px;
}

.mt20{
    margin-top: 20px;
    margin-left: 10px;
}

.mt50{
    margin-top: 50px;
    margin-left: 10px;
}

.amountInput{
    width: 85%;
}

.changeAmountBtn{
    background: #4caf50 !important;
    margin: 4px 0 0 0 !important;
    width: 240px;
    font: 700 16px "Poppins" !important;
    text-align: center;
    line-height: 1rem!important;
    text-transform: unset!important;
    box-shadow: unset !important;
    padding: 18px 5px !important;
    color: white !important;
}

.addAmountBtn{
    margin-top: 5px !important;
}

.reduceAmountBtn{
    margin-top: 5px !important;
}

.payTitle{
    padding: 5px 1px;
    font-weight: bold !important;
    font-size: 25px !important;
    color: #000 !important;
    font-family: "Poppins",sans-serif !important;
  }

  .subMainHolder {
    padding: 22px 0px;
    float: right;
  }

  .buttonStyle {
    background-color: #ff7a00 !important;
    font-family: 'Poppins'!important;
  }  

  .currency{
    padding-left: 5px;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #000 !important;
    font-family: "Poppins",sans-serif !important;
  }

  .warning{
    padding-left: 5px;
    font-weight: bold !important;
    font-size: 14px !important;
    color: rgb(202, 8, 8) !important;
    font-family: "Poppins",sans-serif !important;
  }