.leftBtns {
  margin-left: 0;
  margin-right: auto;
  display: flex;
}

.rightBtns {
  margin-left: auto;
  margin-right: 0%;
  display: flex;
}

.navContainer {
  padding: 15px 20px;
  width: 100%;
  display: inline-flex;
}

/* /* @media only screen and (max-width: 1150px) {
  .navContainer {
    padding: 0px 0px 0px 5px;
    display: block;
    margin-bottom: 40px;
  }
} */

/* @media only screen and (max-width: 1500px) {
  .rightBtns {
    float: right;
  }
} */

@media only screen and (max-width: 600px) {
  .leftBtns {
    display: table;
  }
  .rightBtns {
    display: default;
  }
}
