@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");


table {
  width: 100%;
  border-collapse: collapse;
}

.mainHolder {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Poppins",sans-serif !important;
}

#quantity {
  width: 110px;
  font-family: "Poppins",sans-serif !important;
}

#name {
  width: 135px;
  max-width: 260px;
  font-family: "Poppins",sans-serif !important;
}

#price {
  width: 90px;
  max-width: 90px;
  font-family: "Poppins",sans-serif !important;
}

#delete{
  width: 90px;
}

table th {
  text-align: left;
  padding: 10px;
}

tbody > tr {
  text-align: left;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

tbody > tr > td {
  padding: 10px 3px;
}
