@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");


.mainHolder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemsHolder {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.itemsHolder > div {
  margin-left: 5px;
}

.vatPriceHolder {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.vatPriceHolder > div {
  margin-left: 5px;
}

.noVatPriceHolder {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.noVatPriceHolder > div {
  margin-left: 5px;
}

.text{
  font-family: 'Poppins' !important;
  font-size: 15px;
  color: #686868;
  text-transform: capitalize;
}

@media (max-width: 1200px) {
  .noVatPriceHolder {
    display: block;
  }

  .vatPriceHolder {
    display: block;
  }
}
