@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.sideMenu{
    width: 260px;
    padding-top: 40px;
    background-color: #17625D;
    height: 100%;
    color: #fff;
}

.menuLink{
    justify-content: left !important;
    font-size: 1.2em !important;
    padding: 10px 20px !important;
    font-family: 'Poppins' !important;
    text-transform: capitalize !important;
}

.companyName{
    position: absolute;
    bottom: 15px;
    left: 51px;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 600;
}

.orange{
    color:#FF7A00;
}