@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.sideMenu{
    width: 260px;
    padding-top: 20px;
    background-color: #17625D;
    height: 100%;
    color: #fff;
}

.menuLink{
    justify-content: left !important;
    font-size: 1.2em !important;
    padding: 7px 20px !important;
    font-family: 'Poppins' !important;
    text-transform: capitalize !important;
}

.iconsStyle{
    color: #fff !important;
    padding-left: 12px !important;
}

.companyName{
    position: absolute;
    bottom: 15px;
    left: 51px;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 600;
}

.orange{
    color:#FF7A00;
}

.productMenu{
    justify-content: space-between;
}

.downArrow{
    font-size: 22px;
    padding-left: 50px;
}

.mainPageLink {
    font-size: 17px !important;
    font-family: 'Poppins' !important;
    font-weight: 600 !important;
    color: #fff !important;
    padding: 0 25px !important;
}

.cashPageLink {
    font-size: 17px !important;
    font-family: 'Poppins' !important;
    font-weight: 600 !important;
    color: #ff7a00 !important;
    padding: 0 !important;
}